@charset 'utf-8';
.about-img { height: 480px; width: 100%; overflow: hidden; content: ''; }
.about-img img { display: none; }
.story .title { height: 78px; line-height: 78px; box-shadow: 0 3px 3px #ccc;}
.story .title ul { margin: 0 auto; }
.story .title li { display: inline-block; margin-right: 30px;}
.story .title li a { font-size: 16px; color: #484848; text-decoration: none;}
@media screen and (min-width: 1100px){
  .story .title li a:hover,.story .title li.current a{ display: block; color: #d10024; border-bottom: 1px solid #d10024; }
}
.story .double .left { width: 540px; margin-right: 58px;}
.story .double { margin-top: 90px; }
.story .double .txt { float: left; width: 600px; }
.story .double .txt h3 { font-size: 38px; color: #d10024; font-weight: normal; }
.story .double .txt .english { font-size: 28px; color: #ddd; }
.story .double .txt p { text-indent: 25px; margin-top: 20px; line-height: 2; margin-left: 10px;}
.story .double .left img { margin-bottom: 70px; }
.story .home { font-size: 14px; color: #888; padding-left: 27px; background: url('../images/home.png') no-repeat left center; }
.story .home a { color: #888; }
.story .stander .titles { padding-top: 45px; text-align: center; }
.story .stander .titles h2 { font-size: 38px; color: #333; font-weight: normal; }
.story .stander .titles .line { content: ''; width: 55px; height: 3px; margin: 8px auto 25px; background-color: #d10024; }
.story .stander .title-list li { display: inline-block; width: 130px; margin-bottom: 10px; cursor: pointer; text-align: center; line-height: 46px; background-color: #e1e1e1; border-radius: 3px; font-size: 15px; color: #666; }
.story .stander .title-list { text-align: center; }
.story .stander .title-list li.current,.story .stander .title-list li:hover { background-color: #d9181d; color: #fff; }
.story .img-list { max-width: 1200px; margin: 40px auto; text-align: center;}
.story .img-list li { text-align: center; width: 280px; display: inline-block; margin-bottom: 20px; }
.story .img-list li .img { width: 280px; height: 204px; overflow: hidden;}
.story .img-list li .img img{ width: 280px; height: 204px; }
.story .img-list li p{ line-height: 40px; }
.story .control { width: 170px; margin: -20px auto 40px;}
.story .control div { width: 52px; height: 50px; overflow: hidden; overflow: hidden; text-indent: -999px;}
.story .control div.left { background: url('../images/jian1.png') no-repeat center; }
.story .control div.left:hover { background: url('../images/jian22.png') no-repeat center; }
.story .control div.right { background: url('../images/jian11.png') no-repeat center; }
.story .control div.right:hover { background: url('../images/jian2.png') no-repeat center; }
.construction { background-color: #f4f4f4; padding-bottom: 50px; }
.construction .title h3 { text-align: center; padding-top: 60px; font-size: 38px; color: #333; font-weight: normal; }
.construction .title .line { content: ''; height: 3px; width: 55px; background-color: #d10024; margin: 12px auto 25px; }
.construction .icons ul li { float: left; width: 20%; text-align: center; height: 190px; }
.construction .icons ul li .img { height: 104px; content: ''; }
.construction .icons ul li:nth-child(1) .img { background: url('../images/cai1.png') no-repeat center; }
.construction .icons ul li:nth-child(2) .img { background: url('../images/cai2.png') no-repeat center; }
.construction .icons ul li:nth-child(3) .img { background: url('../images/cai3.png') no-repeat center; }
.construction .icons ul li:nth-child(4) .img { background: url('../images/cai4.png') no-repeat center; }
.construction .icons ul li:nth-child(5) .img { background: url('../images/cai5.png') no-repeat center; }
.construction .icons ul li:nth-child(6) .img { background: url('../images/cai6.png') no-repeat center; }
.construction .icons ul li:nth-child(7) .img { background: url('../images/cai7.png') no-repeat center; }
.construction .icons ul li:nth-child(8) .img { background: url('../images/cai8.png') no-repeat center; }
.construction .icons ul li:nth-child(9) .img { background: url('../images/cai9.png') no-repeat center; }
.construction .icons ul li:nth-child(10) .img { background: url('../images/cai10.png') no-repeat center; }
.construction .icons ul li:hover { box-shadow: 0 0 5px #ccc; }
.construction .icons ul li h6 { font-size: 24px; color: #333; font-weight: normal; }
.construction .icons ul li a { font-size: 16px; color: #666; margin-top: 10px; display: inline-block; }
.mission ul li { width: 50%; height: 420px; float: left; display: table; vertical-align: middle; position: relative;}
.mission ul li .bg-img img { width: 100%; }
.mission ul li .innter { position: absolute; width: 100%; height: 100%; left: 0; top: 0; color: #fff; text-align: center; display: table; vertical-align: middle;}
.mission ul li .innter .cell { display: table-cell; height: 100%; vertical-align: middle; }
.mission ul li .innter h4 { font-size: 30px; font-weight: normal; margin: 15px 0;}
.mission ul li .innter p { font-size: 24px; max-width: 485px; margin: 0 auto; line-height: 1.8; }
.worth { margin-bottom: 50px; }
.worth .title { text-align: center; margin-top: 30px;}
.worth .title .line { content: ''; height: 3px; font-size: 0; background-color: #d10024; overflow: hidden; width: 50px; margin: 20px auto 40px;}
.worth ul li { float: left; width: 20%; text-align: center; }
.worth ul li h6 { font-size: 20px; margin: 20px 0 15px; font-weight: normal;}
.worth ul li p { width: 185px; margin: 0 auto; font-size: 15px; color: #888; }
.boss { width: 100%; height: 646px; background: url('../images/bossBg.jpg') no-repeat center; }
.boss .left { width: 600px; color: #fff; }
.boss .left h5 { font-size: 30px; margin-top: 110px; }
.boss .left h6 { font-size: 30px; font-weight: normal; margin-bottom: 20px; }
.boss .left p { margin-bottom: 15px; line-height: 2; text-indent: 25px; font-size: 14px; }
.boss .right { display: table; height: 646px; margin-right: -70px;}
.boss .right .img{ display: table-cell; vertical-align: middle;}
.boss .right .img img{ width: 550px; height: 406px; }
.honer .title h2 { font-size: 36px; color: #222; text-align: center; margin-top: 60px;}
.honer .title .line { content: ''; height: 3px; width: 55px; overflow: hidden; background-color: #d10024; margin: 15px auto 30px; transition: all 0.3s;}
.honer .lists li { float: left; width: 276px; text-align: center; box-sizing: border-box; margin-right: 24px; transition: all 0.3s;}
.honer .lists li .img { padding: 50px 0; border: 1px solid #dedede; transform: all 0.3s;}
.honer .lists li:hover .img { border-bottom: 3px solid #d10024; transition: all 0.3s; box-shadow: 0 0 10px #ccc ;}
.honer .lists li:hover p { color: #d9181d }
.honer .lists li:hover { transform: translateY(-10px); transition: all 0.3s;}
.honer .lists li p { line-height: 45px; margin-top: 8px; }
.honer .more { background-color: red; text-align: center; line-height: 40px; padding-bottom: 13px; width: 110px; margin: 15px auto 50px; background: url('../images/bo.png') no-repeat bottom center; }
.time-list { background-color: #f2f2f2; padding-bottom: 280px;}
.time-list .title h2 { font-size: 36px; color: #222; text-align: center; padding-top: 60px; }
.time-list .title p { font-size: 16px; color: #888; text-align: center; }
.time-list .list { width: 1210px; position: relative; border-bottom: 1px solid #d1d1d1; margin: 250px auto 0;}
.time-list .list .left{ position: absolute; left: -43px; top: -23px; }
.time-list .list .right{ position: absolute; right: -43px; top: -23px; }
.time-list .list li{ position: absolute; width: 16px; height: 16px; background: url('../images/yuan1.png'); margin-top: -8px;}
.time-list .list li .txt { width: 284px; background: #fff; position: absolute; left: -142px;}
.time-list .list li:nth-child(1) { left: 160px; }
.time-list .list li:nth-child(odd) { left: 160px; }
.time-list .list li:nth-child(odd) .txt { left: -142px; top: -160px; border-radius: 4px; }
.time-list .list li .time { line-height: 40px; background-color: #e8e8e8; text-align: center; font-size: 18px; color: #666; position: relative; z-index: 2}
.time-list .list li .test { font-size: 14px; color: #666; display: table; padding: 10px 15px;}
.time-list .list li .test p { display: table-cell; height: 70px; vertical-align: middle;}
.time-list .list li .rotate { position: absolute; width: 20px; height: 20px; background-color: #e8e8e8; transform: rotate(45deg); bottom: -5px; left: 50%; margin-left: -5px;} 
.time-list .list li:nth-child(2) { left: 385px; }
.time-list .list li:nth-child(even) { left: 385px; }
.time-list .list li:nth-child(even) .rotate { top: -5px; }
.time-list .list li:nth-child(even) .txt { bottom: -160px; }
.time-list .list li:nth-child(3) { left: 610px; }
.time-list .list li:nth-child(4) { left: 840px; }
.time-list .list li:nth-child(5) { left: 1070px; }
.time-list .list li:hover .time{ background-color: #d10024; color: #fff;}
.time-list .list li:hover .rotate{ background-color: #d10024; } 
.link-lists { margin-top: 55px; margin-bottom: 50px;}
.link-lists .left { width: 50%; }
.link-lists dl { width: 568px; }
.link-lists dt .img img { width: 100%; }
.link-lists dt .top { height: 26px; line-height: 26px; border-left: 2px solid #d10024; text-indent: 10px; margin-bottom: 15px;}
.link-lists dt .top .more { float: right; }
.link-lists dt .top .more a { font-size: 14px; color: #666; }
.link-lists dt .top .title { float: left; font-size: 24px; color: #333;}
.link-lists dd li { font-size: 14px; position: relative; line-height: 54px; border-bottom: 1px dotted #ddd;}
.link-lists dd li .time{ font-size: 14px; position: absolute; right: 0; top: 0; font-size: 14px; color: #999; }
.link-lists dd li a { color: #444; }
.link-lists dd li a:hover { color: #d10024; }
.article { margin-top: 50px; margin-bottom: 60px;}
.article .left-part { float: left; width: 254px; background-color: #fff; }
.article .left-part dt { line-height: 112px; text-indent: 20px; background: url('../images/dtBg.png') no-repeat right bottom; border-bottom: 1px solid #eee; }
.article .left-part dd { height: 50px; line-height: 50px; text-indent: 20px; border-bottom: 1px solid #eee; } 
.article .left-part dd a { display: block; text-decoration: none; font-size: 15px; color: #454545; }
.article .left-part dd:hover a,.article .left-part dd.current a { background-color: #d10024; color: #fff; }
.article .right-part { float: right; width: 836px; background-color: #fff; padding: 0 40px;}
.article .right-part h2 { font-size: 24px; color: #333; text-align: center; padding-top: 50px; margin-bottom: 50px; }
.article .right-part h3 { font-size: 16px; color: #333; margin-bottom: 15px; }
.article .right-part .item li { border-bottom: 1px solid #e4e4e4; line-height: 2; padding-bottom: 15px; margin-top: 20px;}
.article .right-part .h2 { font-size: 28px; color: #333; padding-top: 50px;}
.article .right-part .titles { border-bottom: 1px solid #e2e2e2; padding-bottom: 10px; margin-bottom: 30px;}
.article .right-part .titles .time { line-height: 35px; font-size: 14px; color: #999; } 
.article .right-part .txt p { font-size: 14px; color: #666; text-indent: 28px; line-height: 2; margin-bottom: 15px; }
.article .right-part .bottom { border-top: 1px solid #e2e2e2; padding-top: 22px; padding-bottom: 40px; width: 100%;}
.article .right-part .bottom .pre { float: left; padding-left: 30px; background: url('../images/leftJian.png') no-repeat left center;}
.article .right-part .bottom .next { float: right; padding-right: 30px; background: url('../images/rightJian.png') no-repeat right center;}
.article .right-part .bottom a { font-size: 14px; color: #666; }
.process .title { margin-top: 45px; }
.process .title h2 { text-align: center; font-size: 38px; color: #333; }
.process .title .line { width: 55px; height: 3px; content: ''; background-color: #d10024; margin: 10px auto 20px;}
.process .lists li { width: 20%; float: left; text-align: center;  margin-bottom: 10px; }
.process .lists li .table { display: table; width: 95%; height: 190px; }
.process .lists li .img{ width: 95%; box-shadow: 2px 2px 3px #fefefe; display: table-cell; vertical-align: middle; background-color: #fff;}
.process .lists li p { margin-top: -18px; }
.process .lists li:last-child p{ margin-top: 10px; }
.guarantee { height: 577px; width: 100%; background: url('../images/process16.jpg') no-repeat center; margin-top: 50px; color: #fff;}
.guarantee .title h2 { padding-top: 60px; font-size: 36px; font-weight: normal; text-align: center; }
.guarantee .title .line { width: 55px; content: ''; height: 3px; background-color: #fff; margin: 10px auto 25px;  }
.guarantee .txt { text-align: center; font-size: 16px; line-height: 2;}
.guarantee ul { text-align: center; margin-top: 50px; }
.guarantee ul li { display: inline-block; text-align: center; margin-right: 40px;}
.guarantee ul li h6 { font-size: 24px; margin-top: 15px; font-weight: normal; }
.chain { margin-top: 5px; }
.chain .left-part { float: left; width: 50%; text-align: right;}
.chain .right-part { float: left; width: 50%; content: '' ; height: 460px; position: relative; }
.chain ul li { height: 460px; }
.chain .left-part .txt { width: 440px; float: right; display: table; margin-right: 160px; }
.chain .left-part .txt .table { display: table-cell; width: 440px; height: 460px; vertical-align: middle; text-align: left; }
.chain .left-part .txt .table h3 { font-size: 36px; color: #d9181d; font-weight: normal; }
.chain .left-part .txt .table .tip1 { font-size: 16px; color: #666; border-bottom: 1px solid #d10024; width: 50px; white-space: nowrap; line-height: 40px;}
.chain .left-part .txt .table .tip2 { font-size: 14px; color: #666; margin-top: 10px; }
.chain .left-part .txt .table a { display: inline-block; font-size: 16px; color: #333; margin-top: 24px; padding-right: 30px; background: url('../images/chainEnter.png') no-repeat right center; line-height: 40px; }
.chain .left-part .txt .table a:hover { color: #d9181d; background-image: url('../images/chainEnter1.png'); }
.chain .right-part .link { display: none; width: 100%; height: 100%; content: ''; background-color: rgba(217,24,29,0.5); text-align: center; line-height: 460px; left: 0; top: 0; }
.chain .right-part .link a { color: #fff; display: inline-block; background-color: yellow; padding-right: 60px; background: url('../images/chainLink.png') no-repeat right center; }
.chain .right-part:hover .link { display: block; }
.chain-detail .title { text-align: center; }
.chain-detail .title h2 { margin-top: 40px; font-size: 36px; color: #d9181d; font-weight: normal; }
.chain-detail .title p { font-size: 16px; color: #484848; }
.chain-detail .content { background-color: #fff; margin-top: 30px; padding-top: 30px; padding-bottom: 35px; margin-bottom: 60px; }
.chain-detail .content p { width: 1065px; margin: 0 auto 20px; line-height: 2; text-indent: 28px; font-size: 14px; color: #666; } 
.chain-detail .content .img { width: 1065px; margin: 0 auto; }
.chain-detail .content .img img { width: 100%; }
.chain-detail .content .xun { width: 178px; height: 48px; line-height: 48px; color: #fff; border-radius: 5px; text-indent: 68px; background:#d9181d url('../images/onLine.png') no-repeat 30px center;  margin: 30px auto 0;}
.chain-detail .line-title .line { width: 220px; border-top: 1px solid #d9181d; margin: 0 auto; text-align: center;}
.chain-detail .line-title .line h2 { width: 190px; background-color: #f4f4f4; margin: 0 auto; font-size: 36px; font-weight: normal; line-height: 36px; margin-top: -18px; }
.chain-detail .line-title p { text-align: center; font-size: 14px; color: #777; margin-top: 20px; }
.chain-detail .list-img { margin: 30px 0 50px; }
.chain-detail .list-img li { width: 25%; position: relative; overflow: hidden;  float: left; box-sizing: border-box;}
.chain-detail .list-img li .img { width: 100%; height: 100%; }
.chain-detail .list-img li .img img { width: 100%; display: block;}
.chain-detail .list-img li .contents { display: none; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(0,0,0,0.5); }
.chain-detail .list-img li .table {  width: 100%; height: 100%; display: table; text-align: center; color: #fff; }
.chain-detail .list-img li .table .link{ display: table-cell; vertical-align: middle;  }
.chain-detail .list-img li .table h5 { font-size: 28px; font-weight: normal; }
.chain-detail .list-img li .table p { font-size: 14px; margin-top: 5px; }
.chain-detail .list-img li .table a { display: inline-block; width: 42px; height: 42px; overflow: hidden; background: url('../images/chainEnter2.png') no-repeat center; background-size: 100%; text-indent: -999px; margin-top: 20px; }
.chain-detail .list-img li:hover .contents { display: block; }
.chain-detail .control { text-align: center; margin-top: 30px;}
.chain-detail .control .inline div { display: inline-block; width: 50px; height: 50px; overflow: hidden; cursor: pointer; text-indent: -99px; background-color: #fff; }
.chain-detail .control .inline .pre { background:#fff url('../images/control1.png') no-repeat center; }
.chain-detail .control .inline .next { background:#fff url('../images/control3.png') no-repeat center; }
.chain-detail .control .inline .center { background:#fff url('../images/control2.png') no-repeat center; }


.chain-detail.case .list-img li { border-right: 5px solid #f5f5f5; border-bottom: 5px solid #f5f5f5;}
.chain-detail .title { text-align: center; }
.chain-detail .title h2 { margin-top: 40px; font-size: 36px; color: #d9181d; font-weight: normal; }
.chain-detail .title p { font-size: 16px; color: #484848; }
.chain-detail .content { background-color: #fff; margin-top: 30px; padding-top: 30px; padding-bottom: 35px; margin-bottom: 60px; }
.chain-detail .content p { width: 1065px; margin: 0 auto 20px; line-height: 2; text-indent: 28px; font-size: 14px; color: #666; } 
.chain-detail .content .img { width: 1065px; margin: 0 auto; }
.chain-detail .content .img img { width: 100%; }
.chain-detail .content .xun { width: 178px; height: 48px; line-height: 48px; color: #fff; border-radius: 5px; text-indent: 68px; background:#d9181d url('../images/onLine.png') no-repeat 30px center;  margin: 30px auto 0;}
.chain-detail .line-title .line { width: 220px; border-top: 1px solid #d9181d; margin: 0 auto; text-align: center;}
.chain-detail .line-title .line h2 { width: 190px; background-color: #f4f4f4; margin: 0 auto; font-size: 36px; font-weight: normal; line-height: 36px; margin-top: -18px; }
.chain-detail .line-title p { text-align: center; font-size: 14px; color: #777; margin-top: 20px; }
.chain-detail .list-img { margin: 30px 0 50px; }
.chain-detail .list-img li { width: 25%; position: relative; overflow: hidden;  float: left; box-sizing: border-box;}
.chain-detail .list-img li .img { width: 100%; height: 100%; }
.chain-detail .list-img li .img img { width: 100%; display: block;}
.chain-detail .list-img li .contents { display: none; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(0,0,0,0.5); }
.chain-detail .list-img li .table {  width: 100%; height: 100%; display: table; text-align: center; color: #fff; }
.chain-detail .list-img li .table .link{ display: table-cell; vertical-align: middle;  }
.chain-detail .list-img li .table h5 { font-size: 28px; font-weight: normal; }
.chain-detail .list-img li .table p { font-size: 14px; margin-top: 5px; }
.chain-detail .list-img li .table a { display: inline-block; width: 42px; height: 42px; overflow: hidden; background: url('../images/chainEnter2.png') no-repeat center; background-size: 100%; text-indent: -999px; margin-top: 20px; }
.chain-detail .list-img li:hover .contents { display: block; }
.chain-detail .control { text-align: center; margin-top: 30px; overflow: hidden;}
.chain-detail .control .inline div { display: inline-block; width: 50px; height: 50px; overflow: hidden; cursor: pointer; text-indent: -99px; background-color: #fff; }
.chain-detail .control .inline .pre { background:#fff url('../images/control1.png') no-repeat center; }
.chain-detail .control .inline .next { background:#fff url('../images/control3.png') no-repeat center; }
.chain-detail .control .inline .center { background:#fff url('../images/control2.png') no-repeat center; }
.team { margin-top: 50px; margin-bottom: 50px;}
.team .team-img { width: 100%; background-color: #fff; margin-top: 30px;}
.team .team-img .img { width: 50%; float: left; overflow: hidden;}
.team .team-img .img img{ width: 100%; display: block; }
.team .team-img .txt { width: 50%; float: right; overflow: hidden; padding-left: }
.team .team-img .txt .contxt { width: 490px; margin: 0 auto; }
.team .team-img .txt .contxt h2{ font-size: 26px; color: #333; font-weight: normal; padding-top: 35px; padding-bottom: 15px; border-bottom: 1px solid #d9d9d9; }
.team .team-img .txt .contxt .tip { font-size: 14px; color: #666; margin-top: 22px;}
.team .team-img .txt .contxt .tip strong { color: #333; }
.team .team-img .txt .contxt .tip p { margin-top: 8px; }
.team .team-img .txt .contxt .link a { display: inline-block; width: 124px; height: 37px; text-align: center; line-height: 37px; background-color: #d9181d; color: #fff; border-radius: 20px; text-decoration: none; margin-top: 50px; }
.team-introduce { background-color: #fff; padding: 40px 0 30px; }
.title-line { border-top: 1px solid #e8e8e8; width: 1122px; margin: 0 auto; text-align: center;}
.title-line h2 { display: inline-block; background-color: #fff; padding: 0 15px;  line-height: 40px; font-size: 24px; color: #333; font-weight: normal; }
.title-line .title { margin-top: -20px; }
.title-line .line { width: 50px; height: 3px; background-color: #d9181d; content: ''; margin: 12px auto 25px; }
.team-introduce .txt { width: 1060px; margin: 0 auto; line-height: 2; }
.team-people { margin-top: 50px; margin-bottom: 60px; }
.team-people ul li { float: left; width: 20%; position: relative; box-sizing: border-box; border-right: 5px solid #f5f5f5;}
.team-people ul li .img img{ display: block; float: left; width: 100%; }
.team-people ul li .contxt { position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: none;}
.team-people ul li .table { display: table; height: 100%; vertical-align: middle; color: #fff;}
.team-people ul li .table-cell { display: table-cell; vertical-align: middle; padding-left: 25px;}
.team-people ul li .name { font-size: 22px; width: 40px; border-bottom: 1px solid #d9181d; white-space: nowrap; line-height: 40px; margin-bottom: 10px;}
.team-people ul li p { line-height: 30px; font-size: 14px; opacity: .9; } 
/*.team-people ul li:nth-child(5n+5) { border-right: none; }*/
.team-people ul li:hover .contxt { display: block; } 
.team.single .team-img .img { width: 345px; }
.team.single .team-img .img img{ height: 395px; }
.team.single { height: 395px; }
.team.single .txt { width: 805px; }
.team.single .team-img .txt .contxt { width: 730px; }
.team.single .team-img .txt { float: none; }
.team-introduce.single { background-color: #f5f5f5; padding-bottom: 0;}
.single .title-line h2 { background-color: #f5f5f5; }
.get-price { height: 680px; width: 100%; background: url('../images/free4.jpg') no-repeat center; }
.get-price .img { text-align: center; padding-top: 90px; } 
.banner-form { width: 100%; height: 135px; overflow: hidden; }
.banner-form .form { background-color: #fff; width: 1200px; margin: 0 auto; margin-top: 39px; }
.banner-form .form .left { width: 930px; background-color: #fff; height: 56px; }
.banner-form .form .left div { float: left; width: 310px; }
.banner-form .form .left input { width: 100%; border: none; outline: none; height: 56px; font-size: 16px; color: #999; text-indent: 24px; }
.banner-form .form .left div:nth-child(1),.banner-form .form .left div:nth-child(2) { background: url('../images/pointer.png') no-repeat right center; }
.banner-form .form .left div:nth-child(1) input { background: url('../images/people.png') no-repeat 265px center; background-size: 18px; }
.banner-form .form .left div:nth-child(2) input { background: url('../images/tel.png') no-repeat 265px center; }
.banner-form .form .left div:nth-child(3) input { background: url('../images/mian.png') no-repeat 265px center; background-size: 18px; }
.banner-form .form .submit { width: 250px; height: 56px; line-height: 56px; font-size: 18px; text-indent: 55px; color: #fff; background:#d9181d url('../images/enter.png') no-repeat 180px center; cursor: pointer; }
.get-price .three-list ul { text-align: center; margin-top: 20px;}
.get-price .three-list ul li { display: inline-block; text-align: center; width: 330px; border-left: 1px solid #7b7b7d; color: #fff; padding: 30px 0; }
.get-price .three-list ul li:first-child { border-left: none; }
.get-price .three-list ul li h2 { font-size: 24px; margin: 15px 0; }
.get-price .three-list ul li p { width: 200px; margin: 0 auto; font-size: 14px; line-height: 1.8; }
.story .contact .titles { padding-top: 50px; text-align: center; }
.story .contact .titles h2 { font-size: 36px; color: #333; font-weight: normal; }
.story .contact .titles p { font-size: 16px; color: #666; margin-top: 10px; }
.story .contact ul li {  border-right: 1px solid #e5e5e5; width: 25%; float: left; text-align: center; padding: 25px 0; margin: 30px 0; box-sizing: border-box; }
.story .contact ul li:last-child { border-right: none; }
.story .contact ul li .img { width: 128px; height: 128px; background-color: #f4f4f4; border-radius: 50%; text-align: center; margin: 0 auto; display: table; }
.story .contact ul li .img div { display: table-cell; vertical-align: middle; }
.story .contact ul li:first-child .img { background-color: #d9181d } 
.story .contact ul li h4 { font-size: 16px; color: #666; width: 238px; margin: 16px auto 5px; }
.story .contact ul li p { font-size: 20px; color: #484848; }
.companey .title { text-align: center; margin: 70px 0; }
.companey .title h2 { font-size: 36px; color: #333; font-weight: normal; }
.companey .title p { font-size: 20px; color: #888; margin-top: 8px; }
.companey .lists ul li { width: 590px; background-color: #fff; padding: 30px 0; margin-top: 20px;}
.companey .lists ul li:nth-child(odd) { float: left; }
.companey .lists ul li:nth-child(even) { float: right; }
.companey .lists .img { width: 176px; height: 130px; float: left; margin-left: 30px; overflow: hidden;}
.companey .lists .img img{ width: 176px; height: 130px; border-radius: 5px;}
.companey .lists .txt { width: 315px; margin-left: 25px; float: left;}
.companey .lists h4 { width: 45px; border-bottom: 3px solid #d9181d; white-space: nowrap; padding-bottom: 20px; font-size: 22px; color: #333; font-weight: normal; }
.companey .lists p { font-size: 14px; color: #666; margin-top: 35px; }
.companey-map { height: 517px; width: 100%; background: url('../images/map.jpg') no-repeat center; margin-top: 70px; position: relative; }
.companey-map .tip { position: absolute; bottom: 0; left: 0; background-color: #d9181d; text-align: center; width: 100%; color: #fff; line-height: 90px; font-size: 24px; }
.contxt-detail { background-color: #fff; margin-top: 5px; margin-top: 50px; padding-bottom: 80px;}
.contxt-detail .left-part { width: 875px; }
.contxt-detail .right-part { width: 265px; }
.contxt-detail .left-part .titles { border-bottom: 1px solid #e2e2e2; } 
.contxt-detail .left-part .titles h2 { font-size: 36px; color: #333; font-weight: normal;}
.contxt-detail .left-part .titles p { font-size: 14px; color: #999; margin-top: 13px; padding-bottom: 20px;}
.contxt-detail .left-part .txt p { font-size: 15px; color: #666; text-indent: 30px; line-height: 2; margin-top: 30px;}
.contxt-detail .left-part .txt img { width: 100%; margin-top: 30px; }
.contxt-detail .right-part dl { margin-bottom: 30px; }
.contxt-detail .right-part dt { margin-bottom: 15px; }
.contxt-detail .right-part dt h3{ display: inline-block; font-weight: normal; line-height: 40px; border-bottom: 3px solid #d9181d;  }
.contxt-detail .right-part dd a { display: block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 14px; color: #666; margin-top: 10px; }
.contxt-detail .right-part dd a:hover { color: #d9181d }
.contxt-detail .bottom-control { border-top: 1px solid #e2e2e2; margin-top: 60px; padding-top: 30px; line-height: 30px; }
.contxt-detail .bottom-control .pre { float: left; padding-left: 25px; background: url('../images/control1.png') no-repeat left center; }
.contxt-detail .bottom-control .next { float: right; padding-right: 25px; background: url('../images/control3.png') no-repeat right center; }
.contxt-detail .bottom-control a { font-size: 14px; color: #666; }
.consultation { margin-top: 5px; background-color: #fff; }
.consultation ul li:hover { background-color: #f2f2f2; }
.consultation ul li:hover h3  { color: #d9181d; }
.consultation ul li:hover a  { background-color: #d9181d; color: #fff; }
.consultation .img { width: 268px; height: 190px; float: left;}
.consultation .img img { width: 268px; height: 190px; }
.consultation .txt { float: left; width: 720px; margin-left: 30px;}
.consultation .txt h3 { font-size: 20px; color: #333; font-weight: normal; }
.consultation .txt p {  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-size: 14px; color: #777; margin-top: 35px; line-height: 25px; height: 50px;}
.consultation .txt a { display: inline-block; width: 108px; height: 32px; text-align: center; line-height: 32px; border: 1px solid #ddd; margin-top: 30px; font-size: 14px; color: #888; text-decoration: none; }
.consultation li .wrap { border-bottom: 1px dotted #f2f2f2; padding: 40px 0; }
.consultation .time { float: right; text-align: right; margin-top: 30px;}
.consultation .time h6 { font-size: 60px; color: #55565a; }
.consultation .time p { display: inline-block; font-size: 20px; color: #55565a; border-top: 1px solid #55565a; padding-top: 5px;}
.advant .lists li { display: inline-block; width: 266px; background-color: #fff; padding: 40px; margin-right: 75px; }
.advant .lists li:last-child { margin-right: 0; }
.advant .titles { text-align: center; margin-top: 50px;}
.advant .titles h2 { font-size: 42px; color: #222; font-weight: normal; }
.advant .titles p { font-size: 16px; color: #888; margin-top: 10px; }
.advant .lists { margin-top: 30px; }
.advant .lists h2 { font-size: 30px; color: #222; font-weight: normal; margin: 15px 0 5px; }
.advant .lists p { font-size: 14px; color: #666; margin-top: 10px; line-height: 1.8; }
.advant .lists .more { text-align: center; margin: 50px 0; }
.advant .lists .more a{ display: inline-block; width: 195px; height: 50px; line-height: 50px; text-align: center; border: 1px solid #ababab; font-size: 14px; color: #333; background: #fff url('../images/mor.png') no-repeat 160px center; text-decoration: none }
.story .idea { margin-top: 30px; padding-bottom: 35px; }
.story .idea ul li { padding: 20px 0; border-bottom: 1px solid #e1e1e1; }
.story .idea ul li h2 { line-height: 40px; font-size: 28px; color: #d9181d; padding-left: 40px  }
.story .idea ul li p { margin-top: 10px; font-size: 14px; color: #666; line-height: 2; }
.story .idea ul li:nth-child(1) h2{ background: url('../images/invite1.png') no-repeat left center; }
.story .idea ul li:nth-child(2) h2{ background: url('../images/invite2.png') no-repeat left center; }
.story .idea ul li:nth-child(3) h2{ background: url('../images/invite3.png') no-repeat left center; }
.recruit { margin-bottom: 50px; }
.recruit .tab-two ul { text-align: center; font-size: 15px; margin: 40px 0;}
.recruit .tab-two ul li { display: inline-block; width: 142px; height: 50px; line-height: 50px; background-color: #e1e1e1;  margin-right: 10px; }
.recruit .tab-two ul li a { display: block;  color: #fff; border-radius: 5px; text-decoration: none;}
.recruit .tab-two ul li:hover a,.recruit .tab-two ul li.current a { background-color: #d9181d; color: #fff; }
.recruit .lists { background-color: #fff; }
.recruit .lists .title { height: 70px; line-height: 70px; background-color: #fff; color: #666; border-top: 1px solid #e2e2e2;}
.recruit .lists .title .name { float: left; margin-left: 25px; font-size: 16px; }
.recruit .lists .title .more-detail { float: right; margin-right: 25px; font-size: 14px; padding-right: 30px; cursor: pointer; background: url('../images/add.png') no-repeat right center;  }
.recruit .lists .info { width: 1100px; margin: 0 auto; display: none;}
.recruit .lists .info ul { border-bottom: 1px solid #e5e5e5; padding-bottom: 15px;}
.recruit .lists .info ul li { width: 25%; float: left; font-size: 16px; color: #666; line-height: 40px;}
.recruit .lists .info ul li h6 { display: inline-block; margin-right: 6px; color: #333; }
.recruit .responsibility { margin-top: 30px; font-size: 14px; }
.recruit .responsibility h3 { color: #333; font-weight: normal; line-height: 28px; margin-top: 10px}
.recruit .responsibility p { color: #666;  line-height: 28px; }
.recruit .responsibility .tip{ color: #d9181d;  margin-top: 30px; padding-bottom: 30px; }
.recruit .lists li.current .title { background-color: #d9181d; color: #fff; }
.recruit .lists li.current .info { display: block; }
.recruit .lists li.current .title .more-detail{ background-image: url('../images/add1.png'); }
.recruit .get-more { text-align: center; }
.recruit .get-more a{ display: inline-block; font-size: 16px; color: #999; text-decoration: none; margin-top: 45px; padding-bottom: 20px; background: url('../images/bo.png') no-repeat bottom center; }
.chain-detail.case .list-img li { border-right: 5px solid #f5f5f5; border-bottom: 5px solid #f5f5f5;}
.case .case-title { margin-top: 45px; text-align: center; }
.case .case-title h2 { margin-top: 45px; font-size: 36px; color: #333; }
.case .case-title p { margin-top: 10px; font-size: 14px; color: #666; }
.case .tab-three { text-align: center; margin-top: 40px;}
.case .tab-three ul li { display: inline-block; width: 145px; height: 50px; line-height: 50px; margin-left: 20px; background-color: #e1e1e1; border-radius: 5px;}
.case .tab-three ul li a { display: block; border-radius: 5px; text-decoration: none; font-size: 15px; color: #666; }
.case .tab-three ul li a:hover,.case .tab-three ul li.current a { background-color: #d9181d; color: #fff; }
.branch { width: 100%; height: 653px; background: url('../images/branch.jpg') no-repeat center; margin-top: 120px; position: relative;}
.branch .contxt { background-color: #fff; position: absolute; left: 50%; margin-left: -600px; top: -65px; padding-bottom: 40px; }
.branch .contxt h2 { font-size: 36px; color: #222; text-align: center; padding-top: 30px; margin-bottom: 20px;}
.branch .contxt .line { height: 3px; content: ''; width: 40px; background-color: #d9181d; margin: 10px auto 25px;  }
.branch .contxt p { width: 1050px; margin: 0 auto; font-size: 14px; color: #666; line-height: 2; margin-top: 15px; }
.consultation-b { margin: 50px 0; }
.consultation-b .forms { float: left; width: 720px; background-color: #fff; padding: 40px; }
.consultation-b .forms { float: left; }
.consultation-b .forms .title h2 { font-size: 24px; color: #231f20; font-weight: normal; }
.consultation-b .forms .title p { font-size: 14px; color: #231f20; margin: 10px 0 20px; }
.consultation-b .forms ul li:nth-child(odd) { float: left; }
.consultation-b .forms ul li:nth-child(even) { float: right; }
.consultation-b .forms ul li { margin-bottom: 15px; }
.consultation-b .forms ul li input { width: 350px; height: 42px; outline: none; text-indent: 20px; font-size: 14px; } 
.consultation-b .forms ul li textarea { width: 710px; padding: 15px 5px; text-indent: 20px; font-size: 14px; }
.consultation-b .forms .submit { width: 150px; height: 40px; line-height: 40px; text-align: center; border: 1px solid #d9181d; font-size: 14px; color: #d9181d; cursor: pointer; }
.consultation-b .forms .submit:hover { background-color: #d9181d; color: #fff; }
.consultation-b .contact-us { float: right; background-color: #fff; width: 280px; padding: 40px; }
.consultation-b .contact-us dt { font-size: 24px; color: #231f20; margin-bottom: 25px; }
.consultation-b .contact-us dd { border-bottom: 1px solid #e9e9e9; padding-bottom: 16px; margin-top: 20px; padding-left: 40px; }
.consultation-b .contact-us dd h3 { font-size: 16px; color: #231f20; }
.consultation-b .contact-us dd p { font-size: 15px; color: #666; margin-top: 5px; }
.consultation-b .contact-us dd:nth-child(2) { background: url('../images/branch1.png') no-repeat top left; }
.consultation-b .contact-us dd:nth-child(3) { background: url('../images/branch2.png') no-repeat top left; }
.consultation-b .contact-us dd:nth-child(4) { background: url('../images/branch3.png') no-repeat top left; }
.case-detail .top { margin: 40px 0; }
.case-detail .top ul { float: left; }
.case-detail .top .link { float: right; }
.case-detail .top ul li { display: inline-block; width: 140px; height: 50px; line-height: 50px; border-radius: 4px; text-align: center; background-color: #e1e1e1;  }
.case-detail .top ul li a { display: block; color: #666; font-size: 15px; text-decoration: none;  border-radius: 4px; }
.case-detail .top ul li:hover a,.case-detail .top ul li.current a { background-color: #d9181d; color: #fff; }
.case-detail .top .link { padding-left: 30px; color: #888; background: url('../images/home.png') no-repeat left center; }
.case-detail .top .link a { font-size: 14px; color: #888; }
.case-detail .blank { background-color: #fff;  padding-bottom: 30px;}
.case-detail .blank .title { border-bottom: 1px solid #e2e2e2; width: 1050px; margin: 0 auto; padding: 40px 0 15px; }
.case-detail .blank .title h2 { font-size: 36px; color: #333; font-weight: normal; }
.case-detail .blank .title p { font-size: 14px; color: #999; margin-top: 14px; }
.case-detail .blank .focus { width: 1050px; margin: 25px auto; }
.case-detail .blank .focus .impot { margin-top: 8px; font-size: 15px; color: #666; }
.case-detail .blank .focus strong { font-weight: normal; color: #333; }
.case-detail .blank .focus p { margin-top: 15px; font-size: 15px; color: #666; }
.case-detail .recom { margin: 45px 0; }
.case-detail .recom .top-title h3 { font-size: 24px; color: #333; }
.case-detail .recom .top-title p { font-size: 18px; color: #c4c3c3; }
.case-detail .recom .img-list { margin: 25px 0 50px; }
.case-detail .recom .top-title a { display: block; padding-left: 30px; background: url('../images/recom.png') no-repeat left center; line-height: 50px; color: #888; font-size: 18px; }
.case-detail .recom .img-list li { float: left; width: 25%; box-sizing: border-box; border-right: 5px solid #f5f5f5; }
.case-detail .recom .img-list li img { width: 100%;  }

